---
name: continuous-integration

on: [push, pull_request]

jobs:

    test-package:

        runs-on: ubuntu-latest
        timeout-minutes: 10

        strategy:
            fail-fast: false
            matrix:
                python-version: ['3.8', '3.9', '3.10']

        steps:

            - uses: actions/checkout@v3
              with:
                  fetch-depth: 0
            - uses: actions/setup-python@v3
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Install Dependenies
              run: |
                  python -m pip install --upgrade pip setuptools wheel
                  python -m pip install osp-core https://github.com/SCM-NV/pyZacros/archive/refs/tags/v.1.2.zip

            - name: Install package
              run: |
                  python -m pip install .[tests,pre_commit]

            - name: Run pre-commit
              run: |
                  pre-commit run --all-files

            - name: Run tests
              run: |
                  pytest tests/test_energy_landscape_refinement.py -v
